<div class="slide-info-colors multicol-colors">
  <ul class="clearfix">
    <li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
    <li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
    <li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
    <li data-color="#EF2D56" style="width: 7.69231%; background: rgb(56,220,181);"></li>
    <li data-color="#ED302D" style="width: 7.69231%; background: rgb( 220,246,213);"></li>
    <li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
    <li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
    <li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
    <li data-color="#EF2D56" style="width: 7.69231%; background: rgb(56,220,181);"></li>
    <li data-color="#ED302D" style="width: 7.69231%; background: rgb( 220,246,213);"></li>
    <li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
    <li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
    <li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
  </ul>
</div>