<div class="row expanded callout secondary">
  <div class="small-6 large-3 columns">
    <p class="lead">Offices</p>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
  </div>
  <div class="small-6 large-3 columns">
    <p class="lead">Solar Systems</p>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
  </div>
  <div class="small-6 large-3 columns">
    <p class="lead">Contact</p>
    <ul class="menu vertical">
      <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
      <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
      <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
      <li><a href="#"><i class="fi-social-pinterest"></i> Pinterest</a></li>
    </ul>
  </div>
  <div class="small-6 large-3 columns">
    <p class="lead">Offices</p>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <ul class="menu">
      <li><a href="#">Legal</a></li>
      <li><a href="#">Partner</a></li>
      <li><a href="#">Explore</a></li>
    </ul>
  </div>
  <div class="medium-6 columns">
    <ul class="menu float-right">
      <li class="menu-text">Copyright</li>
    </ul>
  </div>
</div>
<color-bar></color-bar>