<div class="row expanded callout secondary">
  <div class="small-6 large-3 columns">
    <p class="lead">Offices</p>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
  </div>
  <div class="small-6 large-3 columns">
    <p class="lead">Solar Systems</p>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
  </div>
  <div class="small-6 large-3 columns">
    <p class="lead">Contact</p>
    <ul class="menu vertical">
      <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
      <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
      <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
      <li><a href="#"><i class="fi-social-pinterest"></i> Pinterest</a></li>
    </ul>
  </div>
  <div class="small-6 large-3 columns">
    <p class="lead">Offices</p>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <ul class="menu">
      <li><a href="#">Legal</a></li>
      <li><a href="#">Partner</a></li>
      <li><a href="#">Explore</a></li>
    </ul>
  </div>
  <div class="medium-6 columns">
    <ul class="menu float-right">
      <li class="menu-text">Copyright</li>
    </ul>
  </div>
</div>
<div class="slide-info-colors multicol-colors">
  <ul class="clearfix">
    <li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
    <li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
    <li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
    <li data-color="#EF2D56" style="width: 7.69231%; background: rgb(56,220,181);"></li>
    <li data-color="#ED302D" style="width: 7.69231%; background: rgb( 220,246,213);"></li>
    <li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
    <li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
    <li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
    <li data-color="#EF2D56" style="width: 7.69231%; background: rgb(56,220,181);"></li>
    <li data-color="#ED302D" style="width: 7.69231%; background: rgb( 220,246,213);"></li>
    <li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
    <li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
    <li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
  </ul>
</div>