<div class="row expanded callout secondary">
  <div class="small-6 columns">
    <p class="lead">How does it work?</p>
    <ul class="menu vertical">
      <li><a href="#"></a></li>

    </ul>
  </div>
  <div class="small-6 columns">
    <p class="lead">About Us</p>
    <ul class="menu vertical">
      <li><a href="/team">Meet the Team</a></li>
     
    </ul>
  </div>
  <div class="small-6 columns">
    <p class="lead">Contact</p>
    <ul class="menu vertical">
      <li><a href="#"><i class="fi-social-email"></i> Email Us</a></li>
    
    </ul>
  </div>
  <div class="small-6 columns">
    <p class="lead">Mobile</p>
    <ul class="menu vertical">
      <li><a href="#"></a></li>

    </ul>
  </div>
</div>
<div class="row">
  <div class="small-6  columns">
    <ul class="menu">
      <li><a href="#">Legal</a></li>
      <li><a href="#">Partner</a></li>
    </ul>
  </div>
  <div class="small-6  columns">
    <ul class="menu float-right">
      <li class="menu-text">© 2015 Rich Neighbors</li>
    </ul>
  </div>
</div>
<color-bar></color-bar>