<ion-view title="Create Campaign">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text" ng-model="campaign.title" placeholder="{{campaign.description}}">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span><textarea rows="5" ng-model="campaign.description" placeholder=""> </textarea>
            </label>
        </form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Funding Goal</span>
                <input type="text" ng-model="campaign.total" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Volunteer Goal</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Supplies Needed</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-stable button-block ">Upload Photo</button>
        <div class="button-bar">
            <a href="#/success" class="button button-stable button-block ">Start My Campaign</a>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>