

      <!-- Comment Avatar -->
      <div class="comment-avatar">
        <img ng-src="{{ comment.profile_pic }}">
      </div>
      <!-- Comment Box -->
      <div class="comment-box">
        <div class="comment-text">{{ comment.text }}</div>
        <div class="comment-footer">
          <div class="comment-info">
            <span class="comment-author">
              <em ng-if="comment.anonymous">Anonymous</em>
              <a ng-if="!comment.anonymous" href="{{ comment.author }}">{{ comment.author || comment.username}}</a>
            </span>
            <span class="comment-date">{{ comment.created_at | date: 'medium' }}</span>
          </div>
          <div class="comment-actions">
            <a ng-hide="level > 5" href="#">Reply</a>
          </div>
        </div>
        <div ng-repeat="comment in replies = comment.replies | orderBy: 'created_at': true" ng-include="'comment.html'" ng-init="level = level + 1"></div>
      </div>
    </div>
