<!-- 

<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">b</a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->
<div class="slide-info-colors multicol-colors">
  <ul class="clearfix">
<li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
<li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
<li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
<li data-color="#EF2D56" style="width: 7.69231%; background: rgb(56,220,181);"></li>
<li data-color="#ED302D" style="width: 7.69231%; background: rgb( 220,246,213);"></li>
<li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
<li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
<li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>
<li data-color="#EF2D56" style="width: 7.69231%; background: rgb(56,220,181);"></li>
<li data-color="#ED302D" style="width: 7.69231%; background: rgb( 220,246,213);"></li>
<li data-color="#363537" style="width: 7.69231%; background: rgb(25,123,153);"></li>
<li data-color="#0CCE6B" style="width: 7.69231%; background: rgb(27,143,155);"></li>
<li data-color="#DCED31" style="width: 7.69231%; background: rgb(41,187,171);"></li>



  </ul>
</div>
<div class="top-bar" ng-controller="NavbarController">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="accordion">
      <li class="menu-text">Rich Neighbors</li>
      <li ng-repeat="item in nav.menu" ui-sref-active="active">
        <a ui-sref="{{item.state}}">{{item.title}}</a>
      </li>
      <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      <li><a href="/startCampaign" class="button success">Start a Campaign</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">My Account</a></li>
      <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a class="button" ui-sref="login"><i class="fa fa-sign-in"> Login</i></a></li>
      <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a class="button" ui-sref="signup"><i class="fa fa-user"> Sign Up</i></a></li>
      <li ng-show="nav.isLoggedIn()">
        <p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p>
      </li>
      <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings">Settings</span></a></li>
      <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
    </ul>
  </div>
</div>
