
<div class="title-bar" data-responsive-toggle="rn-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="rn-menu" ng-controller="NavbarController">
    <div class="top-bar-left">
        <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
            <li class="menu-text">
                <a href="/"><img src="assets/images/richNeighborsLogo.png" alt="Rich Neighbors"></a>
            </li>
            <li class="menu-text" ui-sref-active="active"><a href="#">How it Works</a></li>
            <li class="menu-text" ui-sref-active="active"><a href="#">About Us</a></li>
            <li class="menu-text" ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
            <li class="menu-text" ng-hide="nav.isLoggedIn()" ui-sref-active="active"><button type="button" class="button" ui-sref="login"><i class="fa fa-sign-in"></i>  Login</button></li>
            <li class="menu-text" ng-hide="nav.isLoggedIn()" ui-sref-active="active"><button type="button" class="button" ui-sref="signup"><i class="fa fa-user"></i>  Sign Up</button></li>
            <li class="menu-text dropdown menu" data-dropdown-menu>
                <button type="button large" class="button dropdown" ng-show="nav.isLoggedIn()" data-toggle="myaccount-dropdown" href="#">Hello, {{ nav.getCurrentUser().name }}!</button>
                <ul class="menu bottom" id="myaccount-dropdown" ng-show="nav.isLoggedIn()" data-dropdown>
                <!-- TODO:  Dropdown still has some issues that need to be fixed -->
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a ui-sref="settings">Settings</a></li>
                    <li><a ui-sref="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
  $(document).foundation();
</script>
