<div ng-controller="MainController" ng-init="showData()">
  <navbar></navbar>
  <carousel></carousel>
  <br>
  <div class="row column text-center">
    <p class="lead">Campaigns Near Me {{outputBar.bar}}
   <!--    <geolocation></geolocation> -->
    </p>
  </div>
  <div class="row small-up-1 medium-up-2 large-up-3">
    <div class="column " height = '600px' ng-repeat="x in campaigns | orderBy: '-created_at' | limitTo: paginationLimit()  ">
      <div class="callout">
        <p class="text-center" id = 'campaignTitle'>{{x.title}}</p>
        <p class="text-center"><img src="{{x.picture_url}}" class="thumbnails" alt="image of a planet called Campaign Image"></p>
        <p class="lead">{{limitChar(x.description, 4)}}</p>
        <p class="subheader">{{limitChar(x.description, 10)}}...</p>
        <!-- .slide-info-inner -->
        <div class="cause-info">
          <div class="cause-info-content clearfix">
            <div class="fl cause-info-donated">
              <span>$ {{calDonatedAmount(x.contributors) | number:2}}</span> Donated </div>
            <!-- .cause-info-donated -->
            <div class="fr cause-info-funded">
              <span> {{( calDonatedAmount(x.contributors) / x.goal * 100)| number:2}}%</span> Funded </div>
            <!-- .cause-info-funded -->
          </div>
          <!-- .cause-info-content -->
          <div class="cause-info-bar" data-goal="0.8%">
            <span style="width: {{( calDonatedAmount(x.contributors) / x.goal * 100)| number:2}}%;"></span>
          </div>
          <!-- .cause-info-bar -->
          <div class="cause-info-links">
            <a ng-href="/campaignProfile/{{x._id}}" class="dd-button orange-light small">MORE DETAILS</a>
          </div>
          <!-- .cause-info-links -->
        </div>
      </div>
    </div>
  </div>
  <div class="row column">
    <a class="button hollow expanded" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Load More</a>
  </div>
  <footer></footer>
</div>
