 #profilepic {
     border: 2px solid #fff;
     border-radius: 50%;
     box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
     height: 80px;
     left: 0;
     top: 0;
     width: 80px;
 }
 
 #profilepic img {
   
     height: auto;
     width: 100%;
 }
.header {
  text-align: center;
  background: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTnS6E_e2tuJ8A68g9SQ_w__pTPtKn6VH35p2D2Q5rENfqB3Yg5qw') no-repeat center center;
  background-size: cover;
  padding: 4rem;
  
  .main-header {
    color: #666;
  }
}
.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0;
  li {
    float: none;
    display: inline-block;
    a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      &.is-active {
        background: rgba(250,250,250,0.7);
        color: #333;
      }
      &:hover {
        background: rgba(250,250,250,0.7);
        color: #333;
        transition: all .25s ease-in-out;
      }
    }
  }
}