<navbar></navbar>
<br>
<div class="page-header dtc">
  <div class="row">
    <div class="column medium-9 small-centered">
      <h1 id="pageHeader">Start a Campaign</h1>
      <h2 class="subheader" id="pageSubHeader">Whether you are fixing a pothole or buying a diamond ring for the girlfriend, your rich neighbors can help you!</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="column medium-9 small-centered">
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Campaign Title
            <input type="text" placeholder="Campaign Title" ng-model="formData.title"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>Campaign Goal
            <input type="text" placeholder="$$$$$$$$$$$" ng-model="formData.goal"/>
          </label>
        </div>
        <div class="large-4 columns">
          <label>ZIP or Postal Code
            <input type="text" placeholder="ZIP or Postal Code" ng-model="formData.address.zip"/>
          </label>
        </div>
      <div class="large-4 columns">
          <label>Input
            <input type="text" placeholder="" />
          </label>
        </div>
      </div>

      
     <div class="row">
        <div class="large-12 columns">
          <label>Image URL
            <input type="text" placeholder="Image URL" ng-model="formData.picture_url" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Supplies Needed
            <input type="text" placeholder="Supplies Needed" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Volunteers Needed
            <input type="text" placeholder="Volunteers Needed" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>About Your Campaign:
            <textarea placeholder="Tell everyone about your campaign and why you would like to fix that pothole. Make it personal and compelling in case someone actually reads it!" ng-model="formData.description"></textarea>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="column medium-9 small-centered">
  <a ng-click="createCampaign()" type="submit"  class="button large expand">Submit Campaign</a>
  </div>
  </div>


