.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 9px 20px;
    vertical-align: top;
    line-height: 100%;   
}


.addfields{
    background: #38DCB5;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 9px 20px;
    vertical-align: top;
    line-height: 100%;   
}