<ion-view title="Tabs Controller">
    <ion-tabs class=" tabs-icon-top">
        <ion-tab title="Home" icon="ion-android-home" href="#/tabs/home">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab title="my Campaigns" icon="ion-ios-heart" href="#/tabs/mycampaign">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Create Campaign" icon="ion-ios-compose" href="#/tabs/startcampaign">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
        <ion-tab title="myAccount" icon="ion-ios-person" href="#/tabs/userAccount">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>
        <ion-tab title="CampProfile" icon="ion-ios-paper-outline" href="#/tabs/campignid">
            <ion-nav-view name="tab12"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>