<ion-view title="Campaign Profile">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <h1>Heading</h1>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div>
            <p>Donate Some Money punk:</p>
        </div>
        <div class="button-bar">
            <a href="#/donatemoney" class="button button-stable button-block  icon ">Money</a>
            <a href="#/volunteer" class="button button-stable button-block ">Time</a>
            <a href="#/supplylist" class="button button-stable button-block ">Supplies</a>
        </div>
        <a href="#/success" class="button button-stable button-block button-large">Share This Campaign</a>
    </ion-content>
</ion-view>