<ion-view title="Campaign Profile">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header" ng-repeat="camp in camps">
        <h1>Clarence Thomas Center</h1>
        <img src='https://2dbdd5116ffa30a49aa8-c03f075f8191fb4e60e74b907071aee8.ssl.cf1.rackcdn.com/4778089_1433774326.3911.jpg' alt="">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">
                
            </i>
        </div>
        <div>
            <p>Renee & Clarence Thomas learned a little over a month ago he had Leukemia.  He has worked as a contractor for the last 27 years, therefore, when he doesn't work; he doesn't get paid.  She had changed jobs just a few months ago, therefore, she does not have leave.  She has worked when she could, but has needed to be with her husband during some treatments and procedures.  These take place at Holy Cross Hospital which is also an added expense.  Keep Clarence, Renee and their two boys in your prayers.  Thank you, Donna Miller If you prefer a check or cash donation, I would be happy to collect and deliver.
            </p>
        </div>
        <div>
            <p>Donate</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block  icon ">Money</button>
            <button class="button button-stable button-block ">Time</button>
            <button class="button button-stable button-block ">Supplies</button>
        </div>
    </ion-content>
</ion-view>