<ion-view title="Rich Neighbors">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <div class="card"><h2 style="text-align:center">{{campaign.title}}</h2></div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="box yellow">
                    <div class="item item-image">
                        <img src="https://2dbdd5116ffa30a49aa8-c03f075f8191fb4e60e74b907071aee8.ssl.cf1.rackcdn.com/7343105_1449100258.4659_funddescription.jpg">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <div class="item item-image">
                        <img src="https://2dbdd5116ffa30a49aa8-c03f075f8191fb4e60e74b907071aee8.ssl.cf1.rackcdn.com/7343105_1449101047.8559_funddescription.jpg">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <div class="item item-image">
                        <img src="https://2dbdd5116ffa30a49aa8-c03f075f8191fb4e60e74b907071aee8.ssl.cf1.rackcdn.com/7343105_1449173858.03_funddescription.jpg">
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
        <style>
        #progressbar {
            background-color: black;
            border-radius: 13px;
            /* (height of inner div) / 2 + padding */
            padding: 3px;
        }
        
        #progressbar > div {
            background-color: orange;
            width: 70%;
            /* Adjust width with JavaScript to change progress */
            height: 25px;
            border-radius: 10px;
        }
        </style>
        <br>
        <div class="could put this in a card-later">
            <h3 style="text-align:center">        
              Raised {{campaign.raised | currency : undefined : 0}}
              of {{campaign.total | currency : undefined : 0}}
            </h3>
            <div id="progressbar">
                <div></div>
            </div>
            <a href="#/donatemoney" class="button button-balanced button-block  icon ">Help {{campaign.name}}</a>
        </div>
        <div class="card">
            <div class="item item-text-wrap update">
                <h2 style="text-align:center">Update: Hi everyone!</h2><br>
                <p>Two weeks ago I was confronted with the news that I have a GBM – IV (brain cancer). Since then I’ve had massive brain surgery and learnt of my scary diagnosis.</p>
                <br>
                <p>I was then confronted with the necessary treatment and huge costs involved, with no way to pay for it. For the past seven days I’ve seen something else happen in my life that I could never imagined… the incredible Generosity, Love and Selfless donations to Help Save My Life. </p>
                <br>
                <p>To all the people who have read my story, shared my story, especially prayed for me and those who have donated, I cannot thank you enough </p>
                <br>
                <p>You’ve truly touched my heart and soul in such a good way that it has given me so much faith, hope and courage to fight and survive. </p>
                <br>
                <p>I feel truly blessed, and you’ve all made it even easier to loving every day of my life and to will enjoy every blessings and day of my Life. </p>
                <br>
                <p>THANK YOU GOD BLESS ALL OF YOU!</p>
                <br>
            </div>
        </div>
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="https://scontent.xx.fbcdn.net/hprofile-xtp1/v/t1.0-1/p320x320/11391432_10203832951975075_4543799157993077748_n.jpg?oh=f5d82f3673bdb64f2283e0f65efc078a&oe=5720CECA">
                <h2>Maria Fretes</h2>
                <h1>$125</h1>
                <p>Estou aqui torcendo p sua recuperação!!! Q o papai do céu e os anjinhos te protejam nesse momento!! Um gde bjo</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="http://static.sched.org/a6/2084003/avatar.jpg.320x320px.jpg?741">
                <h2>Donald Trump</h2>
                <h2>$65</h2>
            </a>
            <a class="item item-avatar" href="#">
                <h2>Jorge Medoza</h2>
                <h2>$30</h2>
                <p>6 hours ago</p>
            </a>
        </div>
        <div>
            <h3 style="text-align:center">Donate</h3>
        </div>
        <div class="button-bar">
            <a href="#/donatemoney" class="button button-balanced button-block  icon ">Money</a>
            <a href="#/volunteer" class="button button-balanced button-block ">Time</a>
            <a href="#/supplylist" class="button button-balanced button-block ">Supplies</a>
        </div>
        <div>
            <h3 style="text-align:center">Share</h3>
        </div>
        <div class="button-bar">
            <a href="http://www.twitter.com/KingJames" class="button button-calm button-block icon ion-social-twitter"></a>
            <a href="http://www.facebook.com/LeBron" class="button button-positive button-block icon ion-social-facebook"></a>
            <a href="http://www.instagram.com/kingjames/" class="button button-royal button-block icon ion-social-instagram"></a>
        </div>
    </ion-content>
</ion-view>
<!-- 
item avatars, profile lists:
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

    ...

</div>
simple card: 
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>

item thumbnail:
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    ...

</div>
 -->
<!-- 
card list buttons: 
<div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Enter home address
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Enter phone number
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Enter wireless password
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Enter card information
  </a>

</div>
 -->
<!-- image card:
<div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="cover.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>
 -->
<!-- 
<ion-view title="Campaign Profile">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
<div class="list card">

  <div class="item item-avatar">
    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
    </ion-content>
</ion-view>

main html:
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div>
            <p>Donate Some Money punk:</p>
        </div>
        <div class="button-bar">
            <a href="#/donatemoney" class="button button-stable button-block  icon ">Money</a>
            <a href="#/volunteer" class="button button-stable button-block ">Time</a>
            <a href="#/supplylist" class="button button-stable button-block ">Supplies</a>
        </div>
        <a href="#/success" class="button button-stable button-block button-large">Share This Campaign</a>
 -->
