<ion-view title="Create Campaign">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Campaign Title</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Location, Zip</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Type of Campaign</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Supplies?</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-stable button-block ">Upload Photo</button>
        <div class="button-bar">
            <a href="#/success" class="button button-stable button-block ">Start My Campaign</a>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>