<ion-view title="Donate Money">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <h1>Heading</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Amount</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="height: 100px;"></div>
        <a href="#/tabs/campignid" class="button button-stable button-block ">Donate</a>
    </ion-content>
</ion-view>