<ion-view title="My Campaigns">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block ">My Campaigns</button>
            <button class="button button-stable button-block ">Hearts</button>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>