<ion-view title="Volunteer">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <ion-list>
            <ion-item>Task 1</ion-item>
            <ion-item>Task 2</ion-item>
            <ion-item>Task 3</ion-item>
        </ion-list>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 45px;"></div>
            <div>
                <p>Volunteer for something else:</p>
            </div>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a href="#/tabs/campignid" class="button button-stable button-block ">Tap me!</a>
    </ion-content>
</ion-view>